PORT=3000
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=aguafix

MAIL_HOST=smtp.example.com
MAIL_PORT=587
MAIL_SECURE=false
MAIL_USER=usuario@example.com
MAIL_PASSWORD=tu_contrasena_smtp
MAIL_FROM=no-reply@aguafix.gob.mx
MAINTENANCE_EMAIL=cuadrilla@aguafix.gob.mx
